ignore_files.txt
workspaceArchiver.txt
__pycache__/
**/.__pycache__/*
*/.vscode/*
/data/output/partial_translation
/data/output/stage1
/data/output/stage2
/data/output/back_translation/partial_back_translation
/data/output/back_translation/Final_back_translation
.env